@using Bakery.ViewModels

@model LoginViewModel


<h2>Log in with your account</h2>
<hr />

@if (!ViewData.ModelState.IsValid)
{
    @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:")
}

@using (Html.BeginForm())
{
    <div class="form-layout">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)

        @Html.LabelFor(m => m.Password)
        @Html.EditorFor(m => m.Password)

        <input class="form-button" type="submit" value="Log in" />
    </div>
}

<p>@Html.ActionLink("Register for an account", "Register")</p>
