@model Bakery.Models.Treat


<h2>Add a new treat</h2>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
    <div class=form-layout>
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)

        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description)

        <input class="form-button" type="submit" value="Add treat" />
    </div>
}

@Html.ActionLink("Show all treats", "Index")