@model Bakery.Models.Treat

<h2>Edit</h2>

<h4>Edit @Model.Name</h4>

@using (Html.BeginForm())
{
    <div class="form-layout">
        @Html.HiddenFor(model => model.TreatId)

        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)

        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description)

        <input class="form-button" type="submit" value="Save" />
    </div>
}
