@using Bakery.Models
@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
    <p class="mt-3">Signed in as: @User.Identity.Name</p>
    @*
<ul>
@foreach (var claim in (User as ClaimsPrincipal).Claims)
{
<li>@claim.Type: @claim.Value</li>
}
</ul> *@


    @using (Html.BeginForm("LogOff", "Account"))
    {
        <button type="submit">Log out</button>
    }
}
else
{
    @Html.ActionLink("Log in", "Login", "Account")
    @Html.ActionLink("Create an account", "Register", "Account")
}

@Html.ActionLink("View flavors", "Index", "Flavors")
@Html.ActionLink("View treats", "Index", "Treats")
@Html.ActionLink("View orders", "Index", "Orders")
