@model Bakery.Models.RoleEdit
@using Bakery.Models

<h2>Update roles</h2>



@using (Html.BeginForm())
{
    <h3>Add to @Model.Role.Name</h3>

    @if (Model.NonMembers.Count() == 0)
    {
        <p>All users are members</p>
    }
    else
    {
        @Html.HiddenFor(m => m.Role.Name)
        @Html.HiddenFor(m => m.Role.Id)

        @foreach (ApplicationUser user in Model.NonMembers)
        {
            <label>
                <input type="checkbox" name="AddIds" value="@user.Id">
                @user.UserName
            </label>
        }
    }

    <h3>Remove from @Model.Role.Name</h3>

    @if (Model.Members.Count() == 0)
    {
        <p>No users are members.</p>
    }
    else
    {
        @foreach (ApplicationUser user in Model.Members)
        {
            <label>
                <input type="checkbox" name="DeleteIds" value="@user.Id">
                @user.UserName
            </label>
        }
    }

    <input type="submit" value="Save" />
}